<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card" style="position: absolute; top: 25%;">
				<div>
					<h3 class = "regDetails">Change Password</h3>
				</div>
				<form class="register">
					<div id="passwordCheck" class="alert alert-danger error-msg"
						style="display: none">Password doesn't match</div>
						
					<input type="hidden" id="userId" name="userId" th:value="${userId}" />
					<!-- Password input -->
					<div class="mb-4">
						<label for="oldPassword" class="form-label">Old Password</label> 
						<input name="oldPassword" type="password" class="form-control"
							id="oldPassword" required>
					</div>

					<div class="mb-4">
						<label for="newPassword" class="form-label">New Password</label> 
						<input name="newPassword" type="password" class="form-control"
							id="newPassword" required>
					</div>
					
					<div class="mb-4">
						<label for="confirmPassword" class="form-label">Confirm Password</label> 
						<input name="confirmPassword" type="password" class="form-control"
							id="confirmPassword" required>
					</div>

					<button id="change" type="submit">Change</button>

				</form>
			</div>
		</div>
		
	</section>
</body>
</html>