<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
table {
	border-collapse: collapse;
	width: 50%;
}

th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #4CAF50;
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}
</style>
</head>
<body>
	<section>
		<div style = "display: flex;">
			<div class = "w-50">
				<div class = "btn-group p-4">
					<a id="slog" class="addKey text-white" th:href="@{/amountPerlocation/{userId}(userId=${userId})}">Amount Per Location</a> 
				</div>
				<br>
				<div class="transaction-count">
					<p>
						Transaction Count: <span th:text="${transactionCount}"></span>
					</p>
				</div>

				<div class=" transaction-count">
					<p>Top 5 Customer:</p>
					<table class="table" style="width: 50%;">
						<thead>
							<tr>
								<th>Customer ID</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cus : ${Customer}">
								<td th:text="${cus.customerId}"></td>
								<td th:text="${cus.totalAmount}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<div class="transaction-count" style="width: 50%;">
					<p>Top 5 Location:</p>
					<table class="table">
						<thead>
							<tr>
								<th>Location Id</th>
								<th>Location Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="loc : ${topLocation}">
								<td th:text="${loc.merchantId}"></td>
								<td th:text="${loc.merchantName}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
			
			<div class="card-body p-4" >
				<a id="slog" class="addKey text-white" th:href="@{/transactionStatusLogs/{userId}(userId=${userId})}">Transaction Status logs</a> 
				<a id="klog" class="addKey text-white" th:href="@{/masterKeyLogs/{userId}(userId=${userId})}">Master Key Logs</a>
				<a id="tlog" class="addKey text-white" th:href="@{/transactionLogs/{userId}(userId=${userId})}">Transaction Logs</a>
			</div>
			
			
		</div>
	</section>

</body>
</html>