<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<section>
	
		<div class="container">
			<div class="card" style="position: absolute; top: 25%; width: 500px">
				<div>
					<h3 class = "regDetails">Add Master Key</h3>
				</div>
				<form class = "register">
					<div class="mb-4">
						<input type="hidden" id="userId" name="userId" th:value="${userId}" />
						<label for="masterKey" class="form-label">Enter Master Key </label>
						<input type="text" id="masterKey" name="masterKey" style="width: 68%; border-radius:5px; padding: 5px;" th:value="${masterKey}" />
					</div>
					<button id="addKey" type="submit">Add</button>
				</form>
			</div>
		</div>

	</section>
	
</body>
</html>